@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 98%;
    height: 100%;
    max-height: 94vh;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 14pt;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: auto;
}

.loadingSpinner {
    display: block;
    position: absolute;
    top: 65%;
    left: 47%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: inset 10px rgb(0, 205, 255);
    animation: rotate 1s linear infinite;
}

.wrapper {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    width: 800px;
    height: auto;
    background-color: rgb(89, 86, 86);
    border-radius: 15px;
}

.wrapper h2 {
    margin-top: -40px;
}

.answers {
    display: block;
    margin: 0 auto;
    width: 750px;
    height: auto;
}

.form {
    display: block;
    margin: 0 auto;
    width: 750px;
}

.form input {
    width: 400px;
    height: 50px;
    border-radius: 7px;
    background-color: grey;
    border: none;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.form input::placeholder {
    color: lightgray;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

.answers div {
    display: block;
    width: 750px;
    border-radius: 10px;
    text-align: left;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    background-color: grey;
}

.answers .yourAnswer {
    background-color: rgb(3, 194, 247);
}

.answers div h2 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: -10px;
}

.answers div a {
    display: inline-block;
    font-size: 18pt;
    color: grey;
    margin-right: 7px;
}

.answers div a i {
    font-size: 18pt;
    color: grey;
    margin-right: 7px;
}

.backDrop {
    position: relative;
    background-color: rgb(89, 86, 86);
    color: grey;
    top: -20px;
    left: 370px;
    padding: 0;
    width: 0;
    height: 0;
}

.backDrop {
    color: lightgray;
}

@media(max-width:1400px) {
    .modal {
        font-size: 14pt;
    }
    .wrapper {
        right: 100px;
        width: 500px;
    }
    .answers {
        width: 450px;
    }
    .answers div {
        width: 450px;
    }
    .form {
        width: 500px;
    }
    .form input {
        font-size: 14pt;
        width: 400px;
        height: 40px;
    }
    .form input::placeholder {
        font-size: 14pt;
    }
    .form button {
        width: 80px;
        height: 40px;
        font-size: 16pt;
        padding: 0;
    }
    .answers div a i {
        font-size: 16pt;
    }
    .backDrop {
        font-size: 12pt;
        left: 230px;
    }
}

@media(max-width:750px) {
    .modal {
        font-size: 12pt;
    }
    .wrapper {
        right: 100px;
        width: 250px;
    }
    .answers {
        width: 200px;
    }
    .answers div {
        width: 200px;
    }
    .form {
        width: 250px;
    }
    .form input {
        font-size: 12pt;
        width: 200px;
        height: 30px;
    }
    .form input::placeholder {
        font-size: 12pt;
    }
    .form button {
        width: 75px;
        height: 35px;
        font-size: 14pt;
        padding: 0;
    }
    .answers div a i {
        font-size: 14pt;
    }
    .backDrop {
        font-size: 10pt;
        left: 115px;
        bottom: 20px;
    }
}