@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.catalogWrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    width: 1300px;
    height: auto;
    background-color: rgb(89, 86, 86);
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 175px;
    border-radius: 20px;
}

.loading {
    display: block;
    position: absolute;
    top: 65%;
    left: 47%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: inset 10px rgb(0, 205, 255);
    animation: rotate 1s linear infinite;
}