.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.wrapper {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    height: auto;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 125, 47);
    border-radius: 15px;
}

.wrapper h2 {
    color: white;
}

.wrapper div {
    display: block;
    width: 350px;
    height: 50px;
    background-color: rgb(205, 205, 6);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.wrapper div i {
    display: block;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    font-size: 30px;
}

.wrapper div p {
    display: inline-block;
    text-align: center;
    margin-top: 13px;
    margin-right: 30px;
    font-size: 16pt;
}

.wrapper button {
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: rgb(205, 205, 6);
    border: none;
    border-radius: 10px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper button:hover {
    background-color: yellow;
}

.wrapper .yourLike {
    background-color: rgb(255, 255, 0);
}

@media(max-width:550px) {
    .wrapper {
        width: 300px;
        margin-right: 50px;
    }
    .wrapper h2 {
        color: white;
    }
    .wrapper div {
        width: 250px;
        height: 30px;
    }
    .wrapper div i {
        font-size: 20px;
        margin-top: 5px;
    }
    .wrapper div p {
        font-size: 12pt;
        margin-top: 6px;
    }
    .wrapper button {
        width: 60px;
        height: 30px;
        font-size: 12pt;
    }
}