@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingSpinner {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 47%;
    bottom: 40%;
    border-radius: 50%;
    border: inset 10px yellow;
    animation: rotating 1s linear infinite;
}

.message {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 20px 1px grey;
    text-align: center;
}

.cartWrapper {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 1px 1px 20px 1px grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    margin-top: 20px;
}

.cartWrapper div {
    display: block;
    width: 780px;
    height: 120px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: inset 1px 1px 20px 1px grey;
    margin-bottom: 20px;
}

.cartWrapper div img {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 20px;
}

.cartWrapper div p {
    display: block;
    float: left;
    margin-left: 20px;
    width: 170px;
    font-size: 14pt;
    margin-top: 50px;
}

.cartWrapper .buttons {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: rgb(205, 205, 6);
    border: none;
    border-radius: 10px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 20px;
}

.cartWrapper .buttons:hover {
    background-color: yellow;
}

.cartWrapper div button {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: rgb(205, 205, 6);
    border: none;
    border-radius: 10px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 35px;
}

.cartWrapper div button:hover {
    background-color: yellow;
}

@media(max-width:550px) {
    .loadingSpinner {
        width: 35px;
        height: 35px;
        bottom: 40%;
        left: 45%;
    }
    .message {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        width: 100px;
        font-size: 12pt;
    }
    .cartWrapper {
        width: 350px;
    }
    .cartWrapper div {
        width: 320px;
        height: auto;
        padding-top: 10px;
    }
    .cartWrapper div img {
        display: block;
        float: none;
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }
    .cartWrapper div p {
        display: block;
        float: none;
        font-size: 12pt;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    .cartWrapper div button {
        display: inline-block;
        width: 70px;
        height: 35px;
        font-size: 12pt;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .cartWrapper .buttons {
        display: inline-block;
        width: 70px;
        height: 35px;
        font-size: 12pt;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}