body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(218, 243, 218);
}

.header {
    box-sizing: border-box;
    display: block;
    width: 100vw;
    height: auto;
    background-color: rgb(5, 125, 47);
    margin: 0 auto;
    padding: 10px;
}

.header ul {
    box-sizing: border-box;
    display: block;
    width: 100vw;
    max-width: fit-content;
    margin-bottom: -10px;
}

.header li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

.header li img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -25px;
}