body {
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    width: 100%;
    height: auto;
    background-color: rgb(5, 125, 47);
    margin: 0 auto;
    padding: 10px;
}

.header ul {
    display: block;
    width: 100%;
}