.catalogContent {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    justify-content: center;
    width: 1300px;
    text-align: center;
    font-size: 16pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.catalogContent h1 {
    text-align: center;
}

.catalogContent article {
    display: block;
    margin: 20px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.catalogContent article img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.catalogContent article button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(200, 200, 7);
    font-size: 18pt;
    color: black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.catalogContent article button:hover {
    background-color: yellow;
}

.errorMessage {
    background-color: rgb(29, 29, 29);
    padding: 20px;
    border-radius: 10px;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 98%;
    height: 100%;
    max-height: 94vh;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: auto;
}

.modal h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.modal>button {
    position: absolute;
    right: 40px;
    top: 20px;
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 50%;
    color: grey;
    font-size: 24pt;
    cursor: pointer;
}

.modal>button:hover {
    color: lightgray;
}

@media(max-width:1300px) {
    .catalogContent {
        width: 500px;
    }
    .catalogContent {
        display: block;
        width: 500px;
    }
    .catalogContent article {
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width:750px) {
    .catalogContent {
        width: 300px;
        font-size: 12pt;
    }
    .catalogContent {
        width: 300px;
    }
    .catalogContent article {
        width: 250px;
        font-size: 12pt;
    }
    .catalogContent article img {
        width: 200px;
        height: 200px;
    }
    .catalogContent article button {
        width: 70px;
        height: 35px;
        font-size: 12pt;
    }
    .modal>button {
        font-size: 20pt;
    }
}