.profileHeader {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    height: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profileHeader img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.profileHeader button {
    display: inline-block;
    width: 130px;
    height: 70px;
    border: none;
    background-color: rgb(200, 200, 7);
    font-size: 18pt;
    color: black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.profileHeader a {
    display: inline-flex;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;
    width: 120px;
    height: 50px;
}

.profileHeader button:hover {
    background-color: yellow;
}

.profileBody {
    display: block;
    margin: 0 auto;
    width: 550px;
    height: auto;
    margin-bottom: 100px;
}

.profileBody a {
    text-decoration: none;
    width: 430px;
    height: 60px;
}

.profileBody a article {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 450px;
    height: 75px;
    padding: 30px;
    background-color: rgb(29, 29, 29);
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

.profileBody a article:hover {
    background-color: rgb(200, 200, 7);
    color: black;
}

@media(max-width:750px) {
    .profileHeader {
        width: 250px;
        font-size: 12pt;
    }
    .profileHeader img {
        width: 70px;
        height: 70px;
    }
    .profileHeader button {
        font-size: 12pt;
        width: 80px;
        height: 50px;
    }
    .profileHeader a {
        width: 80px;
        height: 30px;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .profileBody {
        width: 300px;
    }
    .profileBody a {
        width: 215px;
        height: 25px;
    }
    .profileBody a article {
        width: 250px;
        height: 50px;
        padding: 30px;
        font-size: 14pt;
    }
}