.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modal section {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 400px;
    height: auto;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.modal section i {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 25pt;
}

.modal section button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(200, 200, 7);
    font-size: 18pt;
    color: black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
}

.modal section button:hover {
    background-color: yellow;
}

@media(max-width:750px) {
    .modal section {
        width: 275px;
        font-size: 12pt;
    }
    .modal section i {
        font-size: 18pt;
    }
    .modal section button {
        width: 57px;
        height: 30px;
        font-size: 12pt;
    }
}