@keyframes coloring {
    0% {
        color: rgb(170, 166, 166)
    }
    20% {
        color: rgb(190, 185, 185)
    }
    40% {
        color: rgb(210, 200, 200)
    }
    60% {
        color: rgb(230, 220, 220)
    }
    80% {
        color: rgb(240, 240, 240)
    }
    100% {
        color: rgb(255, 255, 255)
    }
}

.wrapper {
    display: block;
    width: 400px;
    margin: 0 auto;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    text-align: center;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    margin-top: 200px;
}

.wrapper p a {
    text-decoration: none;
    color: rgb(170, 166, 166);
}

.wrapper p a:hover {
    animation: coloring 1s;
    animation-fill-mode: forwards;
}

@media(max-width:750px) {
    .wrapper {
        width: 250px;
        font-size: 12pt;
    }
}