.catalogContent {
    display: block;
    margin: 30px;
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
}

.catalogContent img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 7px;
}

.catalogContent button {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(3, 194, 247);
    border: none;
    font-size: 18pt;
    cursor: pointer;
    color: aliceblue;
}

.catalogContent button:hover {
    background-color: rgb(0, 225, 255);
    color: white;
}

.catalogContent a {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin: 0 auto;
}

@media(max-width:750px) {
    .catalogContent img {
        width: 200px;
        height: 200px;
    }
    .catalogContent button {
        font-size: 14pt;
        height: 35px;
        border-radius: 15px;
        margin: 0 auto;
    }
    .catalogContent a {
        width: 75px;
        height: 35px;
        margin: 0 auto;
    }
}