.search {
    display: block;
    margin: 0 auto;
    background-color: rgb(48, 46, 46);
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.search input {
    display: inline-block;
    margin-right: 30px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: grey;
    color: aliceblue;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 7px;
}

.search button {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(3, 194, 247);
    border: none;
    font-size: 18pt;
    cursor: pointer;
    color: aliceblue;
    margin-right: 10px;
}

.search button:hover {
    background-color: rgb(0, 225, 255);
    color: white;
}

.search a {
    display: inline-block;
}

.search input::placeholder {
    color: lightgray;
}

.search select {
    display: inline-block;
    margin-right: 30px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: grey;
    color: aliceblue;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 7px;
    cursor: pointer;
}

@media(max-width:750px) {
    .search {
        width: 400px;
        margin-top: 20px;
    }
    .search input {
        display: block;
        width: 300px;
        height: 30px;
        font-size: 12pt;
        margin: 0 auto;
    }
    .search input::placeholder {
        font-size: 12pt;
    }
    .search button {
        display: block;
        width: 75px;
        height: 35px;
        font-size: 14pt;
        padding: 7px;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .search a {
        display: block;
    }
    .search select {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 12pt;
        height: 30px;
        width: 100px;
    }
}