.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.form {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 120px;
    padding: 10px;
    padding-bottom: 20px;
    width: 600px;
    height: auto;
    background-color: rgb(89, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 16pt;
    border-radius: 10px;
}

.form label {
    display: block;
    text-align: center;
    margin: 10px;
}

.form input,
.form textarea {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: grey;
    color: aliceblue;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

.form input::placeholder,
.form textarea::placeholder {
    color: lightgray;
}

.buttons {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.form button {
    display: inline-block;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 20px;
    width: auto;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(3, 194, 247);
    color: aliceblue;
    border: none;
    font-size: 18pt;
    cursor: pointer;
    padding: 0 20px;
}

.form button:hover {
    background-color: rgb(0, 225, 255);
    color: white;
}

.form p a {
    text-decoration: none;
    color: rgb(3, 194, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

.form p a:hover {
    color: rgb(0, 225, 255);
}

.errorMessage {
    color: red;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

.editComment input,
.editComment button {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media(max-width:750px) {
    .form {
        width: 300px;
        font-size: 12pt;
    }
    .form input,
    .form textarea {
        width: 250px;
        height: 30px;
        font-size: 12pt;
    }
    .form p a {
        font-size: 14pt;
    }
    .errorMessage {
        font-size: 10pt;
    }
    .form button {
        width: 75px;
        height: 35px;
        font-size: 14pt;
        padding: 0;
        border-radius: 15px;
        margin-top: 10px;
    }
}