.searchForm {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 600px;
    height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(5, 125, 47);
    color: white;
}

.searchForm input {
    width: 400px;
    border-radius: 7px;
    height: 40px;
    margin-right: 20px;
    font-size: 12pt;
}

.searchForm input::placeholder {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.searchForm button {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: rgb(205, 205, 6);
    border: none;
    border-radius: 10px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.searchForm button:hover {
    background-color: yellow;
}

@media(max-width:550px) {
    .searchForm button {
        display: block;
        margin-top: 20px;
        width: 60px;
        height: 30px;
        font-size: 12pt;
    }
    .searchForm {
        width: 200px;
    }
    .searchForm input {
        width: 150px;
        height: 30px;
        font-size: 10pt;
    }
    .searchForm input::placeholder {
        font-size: 10pt;
    }
}