body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(107, 103, 103);
}

.footer p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}