@keyframes hovering {
    100% {
        color: rgb(166, 158, 167)
    }
    80% {
        color: rgb(180, 186, 180)
    }
    60% {
        color: rgb(190, 190, 184)
    }
    40% {
        color: rgb(210, 210, 200)
    }
    20% {
        color: rgb(220, 220, 204)
    }
    0% {
        color: rgb(255, 255, 255)
    }
}

.item {
    display: inline-block;
    position: relative;
    margin-right: 25px;
    text-decoration: none;
    bottom: 40px;
}

.item a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.item a:hover {
    animation: hovering 0.5s;
    animation-fill-mode: forwards;
}

@media(max-width:550px) {
    .item a {
        font-size: 12pt;
    }
}