@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes coloring {
    0% {
        color: lightgrey
    }
    20% {
        color: rgb(250, 248, 194)
    }
    40% {
        color: rgb(251, 247, 137)
    }
    60% {
        color: rgb(245, 245, 90)
    }
    80% {
        color: rgb(243, 243, 49)
    }
    100% {
        color: yellow
    }
}

.catalogForm {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 400px;
}

.catalogForm input {
    width: 400px;
    height: 50px;
    background-color: rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14pt;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}

.catalogForm input::placeholder {
    font-size: 14pt;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.catalogForm button {
    height: 42px;
    width: 30px;
    margin-left: -45px;
    background-color: rgb(29, 29, 29);
    border: none;
    border-left: solid 1px white;
    cursor: pointer;
}

.catalogForm button i {
    color: white;
    font-size: 16pt;
}

.catalogContent {
    display: block;
    margin: 0 auto;
    width: 1300px;
    text-align: center;
    font-size: 16pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.catalogContent section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 1300px;
}

.catalogContent section h2 {
    text-align: center;
}

.catalogContent section article {
    display: block;
    margin: 20px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.catalogContent section article img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.catalogContent section article button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(200, 200, 7);
    font-size: 18pt;
    color: black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.catalogContent section article button:hover {
    background-color: yellow;
}

.errorMessage {
    background-color: rgb(29, 29, 29);
    padding: 20px;
    border-radius: 10px;
}

.loadingSpinner {
    position: absolute;
    top: 42%;
    left: 47%;
    width: 70px;
    height: 70px;
    border: inset 10px white;
    border-radius: 50%;
    animation: rotating;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.pagination {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 10px;
    max-width: 300px;
    height: 70px;
    border-radius: 30px;
    background-color: rgb(29, 29, 29);
}

.pagination button {
    display: inline;
    background-color: rgb(29, 29, 29);
    color: lightgrey;
    border: none;
    font-size: 20pt;
    height: 30px;
    width: 30px;
    margin-top: 18px;
    margin-left: 20px;
    cursor: pointer;
}

.pagination button:nth-child(3) {
    margin-right: 80px;
}

.pagination button:last-child {
    margin-right: 20px;
}

.pagination p {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 126px;
    top: 0;
}

.pagination button:hover {
    animation: coloring 1s;
    animation-fill-mode: forwards;
}

.invisible {
    visibility: hidden;
}

@media(max-width:1300px) {
    .catalogContent {
        width: 500px;
    }
    .catalogContent section {
        display: block;
        width: 500px;
    }
    .catalogContent section article {
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width:750px) {
    .catalogContent {
        width: 300px;
        font-size: 12pt;
    }
    .catalogContent section {
        width: 300px;
    }
    .catalogContent section article {
        width: 250px;
        font-size: 12pt;
    }
    .catalogContent section article img {
        width: 200px;
        height: 200px;
    }
    .catalogContent section article button {
        width: 70px;
        height: 35px;
        font-size: 12pt;
    }
    .catalogForm {
        width: 250px;
    }
    .catalogForm input {
        width: 250px;
        font-size: 12pt;
        height: 30px;
    }
    .catalogForm input::placeholder {
        font-size: 12pt;
    }
    .catalogForm button {
        height: 27px;
        width: 20px;
    }
    .catalogForm button i {
        font-size: 12pt;
    }
    .loadingSpinner {
        top: 50%;
    }
    .pagination {
        max-width: 250px;
        height: 50px;
    }
    .pagination p {
        left: 90px;
    }
    .pagination button {
        font-size: 16pt;
        margin-left: 5px;
        margin-top: 12px;
    }
}