.home {
    width: 500px;
    height: auto;
    display: block;
    background-color: rgb(89, 86, 86);
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.home img {
    margin: auto;
    display: block;
    width: 500px;
    height: 300px;
    border-radius: 7px;
}

.home p {
    font-size: 16pt;
}

@media(max-width:750px) {
    .home {
        width: 300px;
        margin-bottom: 100px;
    }
    .home img {
        width: 300px;
        height: 200px;
    }
    .home p {
        font-size: 12pt;
    }
}