@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.homeHeader {
    display: block;
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 16pt;
    color: white;
    width: 400px;
    height: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.homeBody {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 1400px;
    margin-top: 30px;
    font-size: 16pt;
    margin-bottom: 120px;
}

.homeBody article {
    display: inline-block;
    margin-right: 30px;
    width: 400px;
    border-radius: 15px;
    background-color: rgb(29, 29, 29);
    font-size: 16pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.homeBody article img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
}

.homeBody article a {
    width: 100px;
    height: 50px;
}

.homeBody article a button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(200, 200, 7);
    font-size: 18pt;
    color: black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.homeBody article a button:hover {
    background-color: yellow;
}

.errorMessage {
    background-color: rgb(29, 29, 29);
    padding: 20px;
    border-radius: 10px;
}

.loadingSpinner {
    position: absolute;
    top: 47%;
    left: 47%;
    width: 70px;
    height: 70px;
    border: inset 10px white;
    border-radius: 50%;
    animation: rotating;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@media(max-width:1200px) {
    .homeBody {
        width: 500px;
    }
    .homeBody article {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media(max-width:750px) {
    .homeHeader {
        width: 250px;
        font-size: 12pt;
    }
    .homeBody {
        width: 250px;
        font-size: 12pt;
    }
    .homeBody article {
        width: 250px;
        font-size: 12pt;
    }
    .homeBody article img {
        width: 200px;
        height: 200px;
    }
    .homeBody article a button {
        width: 70px;
        height: 30px;
        font-size: 14pt;
    }
}