@keyframes coloring {
    0% {
        color: lightgrey
    }
    20% {
        color: rgb(250, 248, 194)
    }
    40% {
        color: rgb(251, 247, 137)
    }
    60% {
        color: rgb(245, 245, 90)
    }
    80% {
        color: rgb(243, 243, 49)
    }
    100% {
        color: yellow
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
    height: auto;
    border-radius: 30px;
    background-color: rgb(29, 29, 29);
}

.navigation li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation li a {
    text-decoration: none;
    font-size: 16pt;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation li a:hover {
    animation: coloring 1s;
    animation-fill-mode: forwards;
}

@media(max-width:750px) {
    .navigation {
        width: 300px;
    }
    .navigation li {
        margin-right: 10px;
    }
    .navigation li a {
        font-size: 10pt;
    }
}