.home {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    width: 500px;
    height: auto;
    background-color: rgb(5, 125, 47);
    color: white;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 100px;
}

.home img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

@media(max-width:550px) {
    .home {
        width: 300px;
        font-size: 12pt;
    }
    .home img {
        width: 200px;
        height: 200px;
    }
}