@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.catalog {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 1250px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 16pt;
}

.catalog div {
    display: block;
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 1px 1px 30px 1px grey;
    margin: 20px;
}

.catalog div img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.catalog div a {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin: 0 auto;
}

.catalog div a button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: rgb(205, 205, 6);
    border: none;
    border-radius: 10px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.catalog div a button:hover {
    background-color: yellow;
}

.message {
    font-size: 22pt;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 20px 1px grey;
}

.loadingSpinner {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 47%;
    bottom: 35%;
    border-radius: 50%;
    border: inset 10px yellow;
    animation: rotating 1s linear infinite;
}

.pagination {
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: 50px;
    margin-bottom: 100px;
}

.pagination i {
    display: inline-block;
    margin: 5px;
    font-size: 16pt;
    background-color: rgb(205, 205, 6);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.pagination i:hover {
    background-color: yellow;
}

.pagination p {
    display: inline-block;
    font-size: 16pt;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.invisible {
    visibility: hidden;
}

@media(max-width:550px) {
    h1 {
        font-size: 14pt;
    }
    .catalog {
        width: 300px;
        display: block;
        font-size: 12pt;
    }
    .catalog div {
        width: 200px;
    }
    .catalog div img {
        width: 150px;
        height: 150px;
    }
    .catalog div a {
        width: 60px;
        height: 30px;
    }
    .catalog div a button {
        width: 60px;
        height: 30px;
        font-size: 12pt;
    }
    .loadingSpinner {
        width: 35px;
        height: 35px;
        bottom: 16%;
        left: 45%;
    }
    .message {
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 16pt;
    }
    .pagination {
        width: 300px;
        height: 50px;
    }
    .pagination i {
        font-size: 12pt;
        padding: 10px;
    }
    .pagination p {
        font-size: 12pt;
    }
}